.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
    border: 0.3rem solid #212222;
    border-radius: 0.5rem;    
       
    width: 100%;
    /*max-width:35rem;
    margin:auto; 
    max-width: fit-content;*/
    height:70%;
    font-size: var(--_size);
}
.task-group{
    display: flex;
    align-items: center;
    gap: 0.5em;      
    padding: 0.5rem 0.5rem;
}
.label{
    position: relative; 
    text-align: left;    
    cursor:pointer;
    margin-left:3rem;
    line-height:1.5;
}

.checkmark{ 
   height: 1.5em;
   width:1.5em; 
   position:absolute;  
}
input[type="checkbox"] {
    accent-color: none;
  }
.checkmark:is(:focus-visible, :hover) {
    box-shadow:
      0 0 0 #e0a80d,
      0 0 0 .05em #e0a80d,
      0 0 0 .225em #e0a80d;
      transition: #e0a80d 80ms ease-in-out;
      cursor:pointer;
  }
  
.checkmark:checked {
    background-color: #e0a80d;
  }
  
  .checkmark:checked+label {
    text-decoration: line-through;
  }
  .actionBtn {
    font: inherit;
    cursor: pointer;
    background-color: #ffb404;
    border: 1px solid #ffc404;
    color: #1f1a09;
    padding: 0.1rem 0.2rem;
   
    border-radius: 4px;
  }
  
  .actionBtn:hover,
  .actionBtn:active {
    background-color: #ff8204;
    border-color: #ffab04;
    color: #1f1a09;
  }
  
